.icon-48-bookings {
      background-image: url(../images/l_bookings.png);
      padding-left:60px!important;
}

.icon-48-booking {
      background-image: url(../images/l_bookings.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}