.icon-48-suppliers {
      background-image: url(../images/l_suppliers.png);
      padding-left:60px!important;
}

.icon-48-supplier {
      background-image: url(../images/l_suppliers.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}